<%- include('partials/header') %>

<div class="container">
<header class='jumbotron'>
    <h1> Yelp Camp </h1>
    <button href="" type="button" class="btn btn-lg btn-outline-primary"><a href="/campgrounds">View All Campgrounds</a></button>
</header>


</div>


<%- include('partials/footer') %>